{{> head }}

    {{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Lionel Messi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, cupiditate magni officiis pariatur dignissimos laborum. Delectus expedita quam ab blanditiis incidunt, iure totam, aliquam quisquam rerum corporis qui, debitis at!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/image1.jpg" class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer }}